<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="teaBean" class="com.spring.bootcamp.Tea"/>
    <bean id="expressTeaBean" class="com.spring.bootcamp.ExpressTea"/>
    <bean id="restaurant" class="com.spring.bootcamp.Restaurant" >
     <property name="hotDrink" ref="expressTeaBean" />
  <!--      <constructor-arg>
            <bean id="teaBean" class="com.spring.bootcamp.Tea"/>
        </constructor-arg>    innerbean Ques-4-->
    </bean>
</beans>